<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='plugin/quill/quill.snow.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='blogYY/add_article.css') }}">
</head>
<body>
<div>
    <label for="article_title">标题：</label>
    <input type="text" id="article_title" value="{{ title }}" placeholder="标题">
</div>
<div>
    <label for="article_create_time_str">时间：</label>
    <input type="text" id="article_create_time_str">
</div>
<div id="article_content_toolbar">
    <span class="ql-formats">
        <select class="ql-font">
        </select>
        <select class="ql-size">
        </select>
    </span>
    <span class="ql-formats">
        <button class="ql-bold"></button>
        <button class="ql-italic"></button>
        <button class="ql-underline"></button>
        <button class="ql-strike"></button>
    </span>
    <span class="ql-formats">
        <select class="ql-color"></select>
        <select class="ql-background"></select>
    </span>
    <span class="ql-formats">
        <button class="ql-script" value="sub"></button>
        <button class="ql-script" value="super"></button>
    </span>
    <span class="ql-formats">
        <button class="ql-header" value="1"></button>
        <button class="ql-header" value="2"></button>
        <button class="ql-blockquote"></button>
        <button class="ql-code-block"></button>
    </span>
    <span class="ql-formats">
        <button class="ql-list" value="ordered"></button>
        <button class="ql-list" value="bullet"></button>
        <button class="ql-indent" value="-1"></button>
        <button class="ql-indent" value="+1"></button>
    </span>
    <span class="ql-formats">
        <button class="ql-direction" value="rtl"></button>
        <select class="ql-align"></select>
    </span>
    <span class="ql-formats">
        <button class="ql-link"></button>
        <button class="ql-image"></button>
        <button class="ql-video"></button>
        <button class="ql-formula"></button>
    </span>
    <span class="ql-formats">
        <button class="ql-clean"></button>
    </span>
</div>
<div id="article_content_editor" data-raw="{{ content }}"></div>
<div>
    <label for="category_id">分类</label>
    <select id="category_id">
    {% for category in categories %}
        {% if category.id == category_id %}
        <option value="{{ category.id }}" selected="selected">{{ category.name }}</option>
        {% else %}
        <option value="{{ category.id }}">{{ category.name }}</option>
        {% endif %}
    {% endfor %}
    </select>
</div>
<div>
    <button id="submit_btn" data-submit-url="{{ submit_url }}" data-redirect-url="{{ redirect_url }}">提交</button>
</div>


<script type="text/javascript" src="{{ url_for('static', filename='plugin/jQuery/jquery-3.4.0.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugin/quill/quill.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='blogYY/add_article.js') }}"></script>
</body>
</html>