{% extends "blogYY/base/index_base.html" %}

{% block css_block %}
<link rel="stylesheet" href="{{ url_for('static', filename='plugin/quill/quill.snow.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='blogYY/module/article_module.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='blogYY/sb_person_info/pi.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='blogYY/single_article/single_article.css') }}">
{% endblock %}

{% block person_info_module %}
{% include "blogYY/sb_person_info/pi.html" %}
{% endblock %}

{% block article_module %}
<div class="article_wrapper">
    <div class="article">
        <div class="article_header">
            <a href="{{ article['href_ful'] }}" target="_blank" class="article_title">{{ article["title"]}}</a>
            <span class="article_create_time">({{ article["create_time_str"] }})</span>
            <a href="{{ article['href_mod'] }}" class="modify_article_btn">[编辑]</a>
            <a href="{{ article['href_del'] }}" class="delete_article_btn">[删除]</a>
        </div>
        <div class="article_category">
            <span>分类：</span>
            <!-- todo: category_name_href -->
            <a href="">{{ article["category_name"] }}</a>
        </div>
        <div class="article_content" data-raw="{{ article['content'] }}"></div>
        <div class="article_footer">
        </div>
    </div>
</div>
{% endblock %}

{% block js_block %}
{{ super() }}
<script src="{{ url_for('static', filename='plugin/quill/quill.min.js') }}"></script>
<script src="{{ url_for('static', filename='blogYY/single_article/single_article.js') }}"></script>
{% endblock %}
