<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='blogYY/base/index_base.css') }}">
    {% block css_block %}
    {% endblock %}
</head>
<body>
<div class="main">
    <div class="nav_wrapper">
        <div class="nav">
            <ul class="nav_list_left">
                <li class="nav_logo"><a href="">博客</a></li>
                <li class="nav_search">
                    <input type="text" id="nav_input">
                    <div class="nav_search_btn"></div>
                </li>
            </ul>
            <ul class="nav_list_right">
                <li class="nav_to_index"><a href="">首页</a></li>
                <li class="nav_login"><a href="">登录</a></li>
                <li class="nav_register"><a href="">注册</a></li>
            </ul>
        </div>
    </div>
    <div class="header_wrapper">
        <div class="header">
            <div class="header_title_1">
                <a href="">伟大的博弈-于跃的博客</a>
            </div>
            <div class="header_title_2">
                <a href="">http://www.woshiduxingxiayu.info/</a>
                <a href="">[订阅]</a>
                <a href="">[手机订阅]</a>
            </div>
            <div class="header_title_3">
                <a href="{{ url_for('blogYY_page_blog_index') }}">首页</a>
                <a href="{{ url_for('blogYY_page_article_list') }}">博文目录</a>
                <!-- todo: about me page -->
                <a href="">关于我</a>
            </div>
            <div class="header_title_4">
                <a href="{{ url_for('blogYY_page_add_article') }}">发博文</a>
                <a href="">页面设置</a>
                <a href="">个人中心</a>
            </div>
        </div>
    </div>
    <div class="blog_body_wrapper">
        <div class="blog_body">
            <div class="sidebar">
                {% block sidebar_modules %}
                {% endblock %}
            </div>
            {% block body_modules %}
            {% endblock %}
        </div>
    </div>
    <div class="footer_wrapper">
        <div class="footer">
            <span>Copyright © 2020 shifvb, All Rights Reserved</span>
        </div>
    </div>
</div>
{% block js_block %}
<script src="{{ url_for('static', filename='plugin/jQuery/jquery-3.4.0.min.js') }}"></script>
{% endblock %}
</body>
</html>