<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>用户登录</title>
</head>
<body>
<form action="{{ url_for('blogYY_api_user_login_v1') }}" method="POST">
    <ul>
        <li><input type="text" name="username" placeholder="用户名"></li>
        <li><input type="password" name="password" placeholder="密码"></li>
        <li><input type="checkbox" name="remember_me">记住我</li>
        <li><input type="submit" value="Sign In"></li>
    </ul>
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
</form>
</body>
</html>