{% extends "blogYY/base/index_base.html" %}

{% block css_block %}
<link rel="stylesheet" href="{{ url_for('static', filename='plugin/quill/quill.snow.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='blogYY/index/index.css') }}">
{% endblock %}

{% block article_module %}
<div class="article_wrapper">
    <span class="article_wrapper_title">博文</span>
    {% for article in articles %}
    <div class="article">
        <div class="article_header">
            <a href="{{ article['href_ful'] }}" target="_blank" class="article_title">{{ article["title"]
                }}</a>
            <span class="article_create_time">({{ article["create_time_str"] }})</span>
        </div>
        <div class="article_category">
            <span>分类：</span>
            <!-- todo: category_name_href -->
            <a href="">{{ article["category_name"] }}</a>
        </div>
        <div class="article_content" data-raw="{{ article['content'] }}"></div>
        <div class="article_footer">
            <a href="{{ article['href_ful'] }}">查看全文>></a>
        </div>
    </div>
    {% endfor %}
    <div class="page_control" data-page-link="{{ page_link }}" data-current-page="{{ current_page }}"
         data-total-page="{{ total_page }}">
        <div class="prev_page">
            <a class="page_link_disabled">&lt;上一页</a>
        </div>
        <div class="page_buttons">
            <a>1</a>
            <a class="page_link_disabled">2</a>
            <a class="page_link_disabled">3</a>
            <a class="page_link_disabled">4</a>
            <a class="page_link_disabled">5</a>
        </div>
        <div class="next_page">
            <a class="page_link_disabled">下一页&gt;</a>
        </div>
    </div>
</div>
{% endblock %}

{% block js_block %}
{{ super() }}
<script src="{{ url_for('static', filename='plugin/quill/quill.min.js') }}"></script>
<script src="{{ url_for('static', filename='blogYY/index/index.js') }}"></script>
{% endblock %}
