.person_info {
    padding: 15px;
}

.person_info > .sidebar_title {
    font-size: 12px;
    color: #7c6833;
    font-weight: 700;
}

.person_info > .avatar {
    margin: 5px auto;
}

.person_info > .nickname {
    display: block;
    text-align: center;
    color: #637160;
    font-weight: 700;
}
